/* Media query for smaller screens */
@media screen and (max-width: 600px) {

    #profile{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #div-nav{
        display: none;
    }


    #polaroid-container {
        flex-direction: column;
        align-items: center;
    }

    .polaroid {
        width: 80%; /* Adjust width as needed for mobile view */
        margin-bottom: 20px; /* Add margin to separate stacked items */
    }
}


@media screen and (max-width: 1200px) {
    #profile{
        display: block;
    }
    #div-nav{
        display: none;
    }
}