/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
    #gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
       
    }
    #profile{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
    }
    #prof-descr{
        flex-direction: column;
        margin-top: -6em;
    }
    #div-nav{
        display: none;
    }

    #prof-img{
        height: 80%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .projects-class{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .project-img{
       max-width: 300px;
    }

    .project-media-container{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }



    #polaroid-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .polaroid {
        width: 80%; 
        margin-bottom: 20px; 
    }

    #about{
        margin-top: 10em;
        width: 80%;
        margin: auto;
    }

    #coding-skills,#data-skills,#frameworks,#platforms{
        width: 90%;
    }

    .heading-container{
        width: 80%;
    }

    #chatterbox{
        margin-left: -2.7em;
        text-align: left;
        font-size: small;
        align-items: center;
    }

    

}

