/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
    #gallery{
        display: flex;
        flex-direction: column;
    }
    #profile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    #prof-descr{
        flex-direction: column;
        margin-top: -6em;
    }
    #div-nav{
        display: none;
    }

    #prof-img{
        height: 80%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }


    #polaroid-container {
        flex-direction: column;
        align-items: center;
    }

    .polaroid {
        width: 80%; /* Adjust width as needed for mobile view */
        margin-bottom: 20px; /* Add margin to separate stacked items */
    }

    #about{
        margin-top: 5em;
        width: 80%;
        margin: auto;
    }

    #coding-skills,#data-skills,#frameworks,#platforms{
        width: 90%;
    }

    .heading-container{
        width: 80%;
    }

}

